<h1 class="text-center mt-4">Đặt lại mật khẩu</h1>
<form action="" method="POST">
  <div class="container" style="max-width: 700px">
    <input
      class="form-control p-2 mt-1 rounded border"
      type="password"
      name="password"
      placeholder="Vui lòng nhập mật khẩu..."
    />
    <input
      type="password"
      class="form-control p-2 mt-3 rounded border"
      name="confirm-password"
      placeholder="Vui lòng nhập lại mật khẩu..."
    />
    <button class="btn btn-primary mt-3">Xác nhận</button>
  </div>
</form>
