<h1 class="text-center mt-4">Đăng nhập</h1>
<form action="" method="POST">
  <div class="container" style="max-width: 700px">
    <% if (successRegister.length) { %>
    <p class="alert alert-success text-center"><%= successRegister[0] %></p>
    <% } %>
    <div class="d-flex flex-column">
      <label for="" class="fs-4">Email</label>
      <input
        type="email"
        name="email"
        placeholder="Email..."
        class="form-control p-2 mt-1 rounded border"
        autocomplete="on"
        value="<%= req.old.email  %>"
      />
      <span class="text-danger"><%= req.errors.email %></span>
    </div>
    <div class="d-flex flex-column mt-3">
      <label for="" class="fs-4">Password</label>
      <input
        type="password"
        name="password"
        placeholder="Password..."
        class="form-control p-2 mt-1 rounded border"
      />
      <span class="text-danger"><%= req.errors.password %></span>
    </div>
    <div class="d-flex">
      <button class="btn btn-primary mt-3 margin flex-grow-1 me-3">
        Đăng nhập
      </button>
      <a href="/auth/dang-ky" class="btn btn-info mt-3 flex-grow-1">Đăng ký</a>
    </div>

    <div class="d-grid">
      <a href="/auth/google/redirect" class="btn btn-danger mt-3 flex-grow-1">
        Đăng nhập với google</a
      >
    </div>

    <div class="d-grid">
      <a href="/auth/quen-mat-khau" class="btn btn-warning mt-3 flex-grow-1">
        Quên mật khẩu
      </a>
    </div>
  </div>
</form>
