<div class="w-50 mx-auto">
  <h1 class="text-center">Đăng nhập</h1>
  <% if (successRegister.length) { %>
  <p class="alert alert-success text-center"><%= successRegister[0] %></p>
  <% } %> <% if (error.length) { %>
  <p class="alert alert-danger text-center"><%= error[0] %></p>
  <% } %>
  <form action="" method="POST">
    <div class="mb-3">
      <label for="">Email</label>
      <input
        type="text"
        class="form-control"
        name="email"
        placeholder="Email..."
      />
    </div>
    <div class="mb-3">
      <label for="">Password</label>
      <input
        type="password"
        class="form-control"
        name="password"
        placeholder="Password..."
      />
    </div>
    <div class="d-grid">
      <div class="d-flex">
        <button class="btn btn-primary me-3 flex-grow-1">Đăng nhập</button>
        <a class="btn btn-success flex-grow-1" href="/auth/dang-ky">Đăng ký</a>
      </div>
      <!-- <a href="/auth/google/redirect" class="btn btn-danger mt-2"
        >Đăng nhập với google</a
      > -->
    </div>
  </form>
</div>
