body {
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
  color: #fff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 16px;
}

.home a {
  padding: 16px;
  width: 200px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-size: 20px;
  text-align: center;
}

.home .send-mail {
  background-color: #00b7ff;
  color: #fff;
}

.home .send-mail:hover {
  background-color: #0897d0;
}

.home .history {
  background-color: orangered;
  color: #fff;
}

.home .history:hover {
  background-color: #d95e07;
}

.container {
  height: 100vh;
  background: linear-gradient(45deg, #00dbde, #fc00ff);
  display: flex;
}

.history {
  border: 1px solid #ccc;
}

.container .form {
  width: 400px;
  padding: 25px;
  margin: auto;
  background-color: #fff;
  display: flex;
  border-radius: 6px;
}

.container .form form {
  margin: auto;
}

.email {
  margin-top: 16px;
}

.email,
.title,
.content {
  display: flex;
  flex-direction: column;
  gap: 3px;
  margin-bottom: 16px;
}

.email input,
.title input,
.content textarea {
  font-size: 17px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
}

.email input:hover,
.title input:hover,
.content textarea:hover {
  border-color: rgb(249, 97, 249);
}

.email input:focus,
.title input:focus,
.content textarea:focus {
  border-color: rgb(249, 97, 249);
}

.content textarea {
  font-size: 18px;

  resize: none;
}

.btn {
  width: 100%;
  border: none;
  border-radius: 999px;
  padding: 12px;
  background-color: #00b7ff;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}

.btn:hover {
  background: #0897d0;
}

.successSend {
  width: 100%;
  border: 1px solid;
  border-radius: 5px;
  color: #fff;
  font-size: 20px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: rgb(9, 187, 9);
  padding: 10px;
}

.go-home {
  color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  background-color: rgb(10, 162, 10);
  margin-bottom: 16px;
}

.container-email {
  margin-top: 16px;
  display: flex;
  max-width: 1200px;
  flex-wrap: wrap;
}

.container-email .email {
  border: 1px solid #ccc;
  width: max-content;
  height: max-content;
  padding: 10px;
  flex: 0 0 calc(33.33% - 20px);
  margin: 10px;
  border-radius: 5px;
}
