<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="home">
      <a class="send-mail" href="/send-mail">Send Mail</a>
      <a class="history" href="/history"> Check history </a>
    </div>
  </body>
</html>
