<h1>Xóa người dùng</h1>
<form action="" method="post">
  <div class="mb-3">
    <p>
      Bạn có chắc chắn muốn xóa người có tên: <%= userDelete.name %>, với id là:
      <%= id %>
    </p>
  </div>

  <button class="btn btn-primary">Lưu</button>
  <a href="/users" class="btn btn-danger">Hủy</a>
</form>
